.App {
  text-align: center;
}

.btnShow{
  background-color:#1982c4;
  color:#f1faee;
  font-size:20px;
  font-weight:bold;
  width: 200px;
  height: 50px;
  margin:5px 0 5px 0 ;
  box-shadow: 0px 5px 10px 0px #457b9d;
  border:none;
}
